:root{
    --main-bg-color: #404040;
    --shiny-bg-color: #E2E3E6;
}

h1{
    padding: 0.5rem;
    margin: 0.5rem;
}

img{
    border-radius: 0.4rem;
}

.cv-items > li{
    list-style: none;
}

.cv-items > li::before{
    content: '';
    display: inline-block;
    height: 1rem;
    width: 1rem;
    background-size: contain;
    background-image: url(../images/checkmark.png);
}

#header-img{
    transform: scaleX(-1);
}

.header-bg-color{
    background-color: var(--main-bg-color);
}

.header-font-bold{
    font-family: Garamond, serif;
    font-size: 3.5rem;
    font-weight: bold;
    color: var(--main-bg-color);
}

.header-font{
    font-family: Garamond, serif;
    font-size: 3.5rem;
    color: var(--main-bg-color);
}

.sub-header-font-bold{
    font-family: Verdana, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: var(--main-bg-color);
}

.sub-header-font{
    font-family: Verdana, sans-serif;
    font-size: 1rem;
    color: var(--main-bg-color);
}


.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 12rem);
    gap: 0.7rem;
    margin-left: 15vw;
    margin-right: 15vw;
}

.grid-skill{
    margin-top: 0.7rem;
}

.grid-one-col{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 12rem);
    gap: 0.7rem;
    margin-top: 0.7rem;
    margin-left: 15vw;
    margin-right: 15vw;
}

.grid-row-3{
    display: grid;
    grid-template-columns: 2fr 200px 0.8fr;
    grid-template-rows: auto;
    gap: 0.7rem;
    padding-left: 2rem;
    padding-right: 0.5rem;
    align-items: center;
}

.grid-row-3-small{
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    grid-template-rows: auto;
    gap: 0.7rem;
    padding-left: 2rem;
    padding-right: 0.5rem;
    align-items: center;
}

.grid-row-span-2{
    grid-row: span 2;
}

.grid-2x2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.7rem;
    padding-left: 2rem;
    padding-right: 0.5rem;
}

.grid-row-2{
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    grid-template-rows: auto;
    gap: 0.7rem;
    align-items: center;
}

@media (max-width: 1480px){
    .grid-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 12rem);
        gap: 0.7rem;
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .grid-one-col{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 12rem);
        gap: 0.7rem;
        margin-top: 0.7rem;
        margin-left: 10vw;
        margin-right: 10vw;
    }
}

@media (max-width: 1520px){
    .grid-row-3{
        display: grid;
        grid-template-columns: 2fr 180px 0.4fr;
        grid-template-rows: auto;
        gap: 0.7rem;
        padding-left: 2rem;
        padding-right: 0.5rem;
        align-items: center;
    }
}

@media (max-width: 1248px){
    .grid-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 12rem);
        gap: 0.7rem;
        margin-left: 8vw;
        margin-right: 8vw;
    }
    .grid-one-col{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 12rem);
        gap: 0.7rem;
        margin-top: 0.7rem;
        margin-left: 8vw;
        margin-right: 8vw;
    }
}

@media (max-width: 1184px){
    .grid-row-3{
        display: grid;
        grid-template-columns: 2fr 160px 0.2fr;
        grid-template-rows: auto;
        gap: 0.7rem;
        padding-left: 2rem;
        padding-right: 0.5rem;
        align-items: center;
    }

    .grid-row-3-small{
        display: grid;
        grid-template-columns: 1fr 180px 0.8fr;
        grid-template-rows: auto;
        gap: 0.7rem;
        padding-left: 2rem;
        padding-right: 0.5rem;
        align-items: center;
    }
}

@media (max-width: 1046px){
    .grid-row-3{
        display: grid;
        grid-template-columns: 2fr 140px 0.2fr;
        grid-template-rows: auto;
        gap: 0.7rem;
        padding-left: 2rem;
        padding-right: 0.5rem;
        align-items: center;
    }

    .grid-row-3-small{
        display: grid;
        grid-template-columns: 1fr 160px 0.8fr;
        grid-template-rows: auto;
        gap: 0.7rem;
        padding-left: 2rem;
        padding-right: 0.5rem;
        align-items: center;
    }
}

@media (max-width: 1024px){
    .grid-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 12rem);
        gap: 0.7rem;
        margin-left: 6vw;
        margin-right: 6vw;
    }
    .grid-one-col{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 12rem);
        gap: 0.7rem;
        margin-top: 0.7rem;
        margin-left: 6vw;
        margin-right: 6vw;
    }
}

@media (max-width: 952px){
    .grid-row-3{
        display: grid;
        grid-template-columns: 2fr 120px 0.1fr;
        grid-template-rows: auto;
        gap: 0.7rem;
        padding-left: 1rem;
        padding-right: 0.5rem;
        align-items: center;
    }

    .grid-row-3-small{
        display: grid;
        grid-template-columns: 1fr 140px 0.6fr;
        grid-template-rows: auto;
        gap: 0.7rem;
        padding-left: 2rem;
        padding-right: 0.5rem;
        align-items: center;
    }
}

@media (max-width: 852px){
    .grid-row-3{
        display: grid;
        grid-template-columns: 2fr 100px;
        grid-template-rows: auto;
        gap: 0.7rem;
        padding-left: 0.2rem;
        padding-right: 0.1rem;
        align-items: center;
    }

    .grid-row-3-small{
        display: grid;
        grid-template-columns: 1fr 120px 0.3fr;
        grid-template-rows: auto;
        gap: 0.7rem;
        padding-left: 1rem;
        padding-right: 0.25rem;
        align-items: center;
    }
}

@media (max-width: 767px) {
    .grid-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(11, 5rem) auto;
        gap: 0.7rem;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    .grid1{
        grid-row: 1;
    }
    .grid2{
        grid-row: 2 / 7;
    }
    .grid3{
        grid-row: 8 / 12;
    }
    .grid4{
        grid-row: 7;
    }

    .grid-one-col{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 9rem 9.5rem;
        gap: 0;
        margin-top: 0;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    .grid-row-3{
        display: grid;
        grid-template-columns: 2fr 200px 1fr;
        grid-template-rows: auto;
        gap: 0.7rem;
        padding-left: 1rem;
        padding-right: 0.25rem;
        align-items: center;
    }

    .grid-row-3-small{
        display: grid;
        grid-template-columns: 2fr 200px 1fr;
        grid-template-rows: auto;
        gap: 0.7rem;
        padding-left: 1rem;
        padding-right: 0.25rem;
        align-items: center;
    }

    .grid-staerke{
        grid-row: 1 / 4;
    }

    .grid-it-staerke{
        grid-row: 4 / 7;
        }

    .grid-sprache{
        grid-row: 7 / 9;
        color: #404040 !important;
        background-color:#E2E3E6 !important;
    }

    .grid-interesse{
        grid-row: 9 / 12;
        color: #E2E3E6 !important;
        background-color: #404040 !important;
    }

    .prj-txt{
        grid-row: span 4;
        background-color: var(--shiny-bg-color) !important;
        color: var(--main-bg-color) !important;
    }

    .prj-txt-top{
        margin-top: 0.7rem;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }

    .prj-txt-bottom{
        margin-bottom: 0.7rem;
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
    }
  }

.container-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 768px) {
.grid-txt{
    grid-row: span 2;
}
.prj-img{
    grid-column: span 2;
}
}

.grid-txt > *{
    margin: 0.5rem;
}

.dark-grid{
    background-color: var(--main-bg-color);
    color: var(--shiny-bg-color);
    border-radius: 0.4rem;
}

.shiny-grid{
    background-color: var(--shiny-bg-color);
    border-radius: 0.4rem;
}

@media (max-width: 588px) {
    .grid-row-3{
        display: grid;
        grid-template-columns: 2fr 100px 0.5fr;
        grid-template-rows: auto;
        gap: 0.7rem;
        padding-left: 0.5rem;
        padding-right: 0.25rem;
        align-items: center;
    }

    .grid-row-3-small{
        display: grid;
        grid-template-columns: 2fr 100px 0.5fr;
        grid-template-rows: auto;
        gap: 0.7rem;
        padding-left: 0.5rem;
        padding-right: 0.25rem;
        align-items: center;
    }

    .grid-staerke{
        grid-row: 1 / 4;
    }

    .grid-it-staerke{
        grid-row: 4 / 7;
        }

    .grid-sprache{
        grid-row: 7 / 9;
        color: #404040 !important;
        background-color:#E2E3E6 !important;
    }

    .grid-interesse{
        grid-row: 9 / 12;
        color: #E2E3E6 !important;
        background-color: #404040 !important;
    }
  }